swagger: '2.0'
info:
  description: >-
    印刷APIプラットフォーム「[コーデンベルク](https://codenberg.io/)」はさまざまなシステムと連携することができるように、WebAPIを公開しています。コーデンベルク
    APIを使って、印刷物の注文はもちろん、テンプレートの登録や可変領域の設定ができます。コーデンベルク
    APIは、RESTfulな設計なのでかんたんにシステム連携できます。
  version: 0.5.2
  title: Codenberg API
  termsOfService: 'https://codenberg.io/terms/'
  contact:
    url: 'https://support.codenberg.io/hc/ja/requests/new'
host: api.codenberg.io
basePath: /v1
tags:
  - name: templates
    description: APIからテンプレートの情報取得を行えます。
  - name: formats
    description: コーデンベルクが用意しているフォーマットの情報を返します。用紙サイズや印刷費、用紙の種類などを取得できます。
  - name: orders
    description: APIから新たな注文を作成したり、これまでの注文一覧を取得したりできます。
  - name: media
    description: 可変領域に設定する画像の情報を取得できます。
  - name: prefectures
    description: APIからコーデンベルクで扱う都道府県の一覧情報取得を行えます。
schemes:
  - https
paths:
  /templates:
    get:
      tags:
        - templates
      summary: アカウントに登録されているテンプレートの一覧を返します。
      description: ''
      operationId: getTemplates
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: 検索条件を指定します。
          required: true
          schema:
            $ref: '#/definitions/TemplateQuery'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TemplateList'
        '400':
          description: 入力が受付られない場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  '/templates/{template_id}':
    get:
      tags:
        - templates
      summary: Find template by ID
      description: 指定したテンプレートの詳細情報を返します。
      operationId: getTemplateById
      produces:
        - application/json
      parameters:
        - name: template_id
          in: path
          description: テンプレートのIDを指定します。
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          description: 結果に含まれる条件を指定します。
          required: false
          schema:
            $ref: '#/definitions/TemplateIncludeInfomations'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TemplateResult'
        '400':
          description: 入力が受け付けられない場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  /template_previews:
    post:
      tags:
        - templates
      summary: Request creating template preview
      description: 指定したテンプレートのプレビューの生成をリクエストします。
      operationId: createTemplatePreview
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: プレビューの生成条件を指定します。
          required: true
          schema:
            $ref: '#/definitions/PreviewRequest'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/PreviewResponse'
        '403':
          description: 認証に失敗した場合
        '404':
          description: テンプレートが存在しない場合
        '422':
          description: パラメータに不備がある場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  '/template_previews/{template_preview_id}':
    get:
      tags:
        - templates
      summary: Get preview
      description: 指定したプレビューを取得します。
      operationId: getTemplatePreview
      produces:
        - application/json
      parameters:
        - name: template_preview_id
          in: path
          description: プレビューのIDを指定
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PreviewResponse'
        '403':
          description: 認証に失敗した場合
        '404':
          description: プレビューが存在しない場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  /formats:
    get:
      tags:
        - formats
      summary: Get format list by query
      description: 利用可能なフォーマットの一覧を返します。
      operationId: getFormats
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: フォーマットの検索条件を指定します。
          required: true
          schema:
            $ref: '#/definitions/FormatQuery'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FormatList'
        '400':
          description: 入力が受け付けられない場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  '/formats/{format_id}':
    get:
      tags:
        - formats
      summary: Get format informatino by ID
      description: 指定したフォーマットの詳細情報を返します。
      operationId: getFormatById
      produces:
        - application/json
      parameters:
        - name: format_id
          in: path
          description: フォーマットのIDを指定
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FormatResult'
        '400':
          description: 入力が受け付けられない場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  /orders:
    get:
      tags:
        - orders
      summary: Get order list
      description: 注文一覧を取得します。
      operationId: getOrders
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: 注文の検索条件を指定します
          required: true
          schema:
            $ref: '#/definitions/OrderQuery'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrderList'
        '400':
          description: 入力が受け付けられない場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
    post:
      tags:
        - orders
      summary: Create new order from template
      description: テンプレートから注文を作成します。
      operationId: createOrder
      parameters:
        - in: body
          name: body
          description: 作成する注文内容を指定します
          required: true
          schema:
            $ref: '#/definitions/CreateOrderRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrderResult'
        '400':
          description: 入力が受け付けられない場合
        '404':
          description: リソースがない場合
        '422':
          description: 注文情報の形式が正しくありません。
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  '/orders/{id}':
    get:
      tags:
        - orders
      summary: Get order by Id
      description: 注文の詳細情報を返します。
      operationId: getOrderById
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 注文のIDを指定します。
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrderResult'
        '400':
          description: 入力が受け付けられない場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  '/orders/{order_group_id}/order/{order_id}/status':
    get:
      tags:
        - orders
      summary: Get delivery address status for change
      description: >-
        配送先変更の可否情報を返します。
        注文の配送先変更は印刷ステータスが「印刷待ち」「印刷中」まで受け付けています。
        印刷ステータスについては「[印刷ステータスについて](https://github.com/friday-night/codenberg-api-reference/wiki/%E5%8D%B0%E5%88%B7%E3%82%B9%E3%83%86%E3%83%BC%E3%82%BF%E3%82%B9%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6)」を参照してください。
      operationId: getDeliveryStatus
      produces:
        - application/json
      parameters:
        - name: order_group_id
          in: path
          description: 注文のグループIDを指定します
          required: true
          type: integer
          format: int64
        - name: order_id
          in: path
          description: 注文Idを指定します
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StatusAndMessage'
        '422':
          description: 入力が受け付けられない場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  '/orders/{order_group_id}/order/{order_id}':
    post:
      tags:
        - orders
      summary: Change delivery address
      description: >-
        配送先変更を行います。
        配送先の変更は指定したパラメータのみ、行うことが可能です。指定できるパラメータは下記を参照して下さい。
        パラメータ内の値の形式・制約などについては「注文作成-シングル」のパラメータと同様です。 
        注文の配送先変更は印刷ステータスが「印刷待ち」「印刷中」まで受け付けています。
        印刷ステータスについては「[印刷ステータスについて](https://github.com/friday-night/codenberg-api-reference/wiki/%E5%8D%B0%E5%88%B7%E3%82%B9%E3%83%86%E3%83%BC%E3%82%BF%E3%82%B9%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6)」を参照してください。
      operationId: updateDeliveryStatus
      produces:
        - application/json
      parameters:
        - name: order_group_id
          in: path
          description: 注文のグループIDを指定します
          required: true
          type: integer
          format: int64
        - name: order_id
          in: path
          description: 注文Idを指定します
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: 配送先の変更内容を指定します。
          required: true
          schema:
            $ref: '#/definitions/ChangeDeliveryAddressRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ChangeDeliveryAddressResponse'
        '422':
          description: 入力が受け付けられない場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  '/orders/{id}/cancel_status':
    get:
      tags:
        - orders
      summary: Get cancel order status
      description: >-
        注文キャンセルの可否情報を返します。
        注文のキャンセルは印刷ステータスが「印刷待ち」まで受け付けています。
        印刷ステータスについては「[印刷ステータスについて](https://github.com/friday-night/codenberg-api-reference/wiki/%E5%8D%B0%E5%88%B7%E3%82%B9%E3%83%86%E3%83%BC%E3%82%BF%E3%82%B9%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6)」を参照してください。
      operationId: getCancelStatus
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 注文のIDを指定します。
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StatusAndMessage'
        '422':
          description: 入力が受け付けられない場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  '/orders/{id}/cancel':
    put:
      tags:
        - orders
      summary: Cancel order
      description: >-
        注文をキャンセルします。
        注文のキャンセルは印刷ステータスが「印刷待ち」まで受け付けています。
        印刷ステータスについては「[印刷ステータスについて](https://github.com/friday-night/codenberg-api-reference/wiki/%E5%8D%B0%E5%88%B7%E3%82%B9%E3%83%86%E3%83%BC%E3%82%BF%E3%82%B9%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6)」を参照してください。
      operationId: cancelOrder
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: 注文のIDを指定します。
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StatusAndMessage'
        '422':
          description: 入力が受け付けられない場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  /media:
    get:
      tags:
        - media
      summary: Get media list
      description: 登録されているメディアの一覧を返します。
      operationId: getMedia
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: メディアの検索条件を指定します。
          required: true
          schema:
            $ref: '#/definitions/MediaRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MediaList'
        '400':
          description: 入力が受け付けられない場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  '/media/{media_id}':
    get:
      tags:
        - media
      summary: Get media information by ID
      description: 登録されているメディアの詳細を返します。
      operationId: getMediaById
      produces:
        - application/json
      parameters:
        - name: media_id
          in: path
          description: 取得するメディアIDを指定します
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MediaDetail'
        '400':
          description: 入力が受け付けられない場合
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
  /prefectures:
    get:
      tags:
        - prefectures
      summary: Get prefectures list
      description: コーデンベルクで扱うことができる都道府県の県名とコードの一覧を返します。
      operationId: getPrefectures
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Prefecture'
      security:
        - codenberg_auth:
          - 'write:print'
          - 'read:print'
securityDefinitions:
  codenberg_auth:
    type: oauth2
    flow: application
    tokenUrl: 'https://api.codenberg.io/v1/auth/token'
    scopes:
      'write:print': modify print in your account
      'read:print': read your print
definitions:
  TemplateQuery:
    type: object
    properties:
      q:
        type: string
        description: 検索文字列を指定します。template名、キーワードが対象となります。
      sort:
        description: id/format_id/name/keywords/created_atを指定できます。
        type: string
        enum:
          - id
          - format_id
          - name
          - keywords
          - created_at
        default: id
      direction:
        description: 項目の並び順を指定します。asc(昇順)/desc(降順)
        type: string
        enum:
          - asc
          - desc
        default: desc
      per_page:
        description: 1ページあたりの取得項目数。最大:50件
        type: integer
        format: int64
        default: 10
      page:
        description: ページ番号を指定。
        type: integer
        format: int64
        default: 1
      including_private:
        description: 非公開のテンプレートを含めるかどうかを指定します。
        type: boolean
        default: false
      including_custom_fields:
        description: 可変領域の情報を含めるかを設定します。
        type: boolean
        default: true
      including_formats:
        description: フォーマットの情報を含めるかを設定します。
        type: boolean
        default: false
  TemplateList:
    type: object
    properties:
      count:
        type: integer
        format: int64
      page:
        type: integer
        format: int64
      per_page:
        type: integer
        format: int64
      results:
        type: array
        items:
          $ref: '#/definitions/TemplateResult'
  TemplateResult:
    type: object
    properties:
      id:
        type: integer
        format: int64
      display_id:
        type: string
      name:
        type: string
      keywords:
        type: string
      thumb:
        $ref: '#/definitions/Thumbnail'
      pdf:
        type: string
      page_count:
        type: integer
        format: int64
      lot_price:
        type: array
        items:
          $ref: '#/definitions/LotPrice'
      selected_paper:
        $ref: '#/definitions/SelectedPaper'
      finishing_option1:
        type: string
      finishing_option2:
        type: string
      status:
        type: string
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      custom_fields:
        type: array
        items:
          $ref: '#/definitions/CustomField'
  Thumbnail:
    type: object
    properties:
      small:
        type: string
      large:
        type: string
  LotPrice:
    type: object
    properties:
      number_from:
        type: integer
        format: int64
      number_to:
        type: integer
        format: int64
      price:
        type: integer
        format: int64
  SelectedPaper:
    type: object
    properties:
      id:
        type: integer
        format: int64
      display_id:
        type: string
      name:
        type: string
      category:
        type: string
      weight_per_square_metre:
        type: string
      paper_quality:
        type: string
      official_quotations:
        type: string
  CustomField:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      field_type:
        type: string
        enum:
          - text
          - image
      default_value:
        type: string
      height:
        type: number
      rotate:
        type: integer
        format: int64
      width:
        type: number
      x:
        type: number
      y:
        type: number
      max_length:
        type: integer
        format: int64
      text_align:
        type: string
        enum:
          - right
          - center
          - left
      color_c:
        type: integer
        format: int64
      color_m:
        type: integer
        format: int64
      color_y:
        type: integer
        format: int64
      color_k:
        type: integer
        format: int64
      text_size:
        type: integer
        format: int64
      font:
        type: string
  TemplateIncludeInfomations:
    type: object
    properties:
      including_custom_fields:
        type: boolean
        description: 可変領域の情報を含めるかを設定します。
        default: true
      including_formats:
        type: boolean
        description: フォーマットの情報を含めるかを設定します。
        default: false
  PreviewRequest:
    type: object
    properties:
      template_id:
        type: string
        description: テンプレートID
      page:
        type: integer
        format: int64
        description: プレビューを生成するページを指定します。(0スタートのIndex値)
      custom_fields:
        type: array
        description: 可変領域を指定します。
        items:
          $ref: '#/definitions/CustomFieldValue'
  CustomFieldValue:
    type: object
    properties:
      id:
        type: string
        description: カスタムフィールドID
      value:
        type: string
        description: テンプレートの可変領域にテキストを設定した時には文字列を指定して下さい。可変領域に画像を設定した時には画像IDか画像ファイル名を指定して下さい。
  PreviewResponse:
    type: object
    properties:
      id:
        type: integer
        format: int64
      template_id:
        type: string
      generated:
        type: boolean
      images:
        type: array
        items:
          type: string
      error:
        $ref: '#/definitions/ErrorMessage'
  ErrorMessage:
    type: object
    properties:
      message:
        type: string
  FormatQuery:
    type: object
    properties:
      q:
        type: string
        description: 検索文字列。format名、用途から検索できます。
      sort:
        type: string
        enum:
          - id
          - name
        default: id
      direction:
        type: string
        description: 項目の並び順を指定します。
        enum:
          - asc
          - desc
        default: desc
      per_page:
        type: integer
        format: int64
        description: 1ページあたりの取得項目数。最大50件
        default: 10
      page:
        type: integer
        format: int64
        description: ページ番号を指定します。
        default: 1
  FormatList:
    type: object
    properties:
      count:
        type: integer
        format: int64
      page:
        type: integer
        format: int64
      per_page:
        type: integer
        format: int64
      results:
        type: array
        items:
          $ref: '#/definitions/FormatResult'
  FormatResult:
    type: object
    properties:
      id:
        type: integer
        format: int64
      display_id:
        type: string
      name:
        type: string
      category:
        type: string
      developed_width:
        type: integer
        format: int64
      developed_height:
        type: integer
        format: int64
      width:
        type: integer
        format: int64
      height:
        type: integer
        format: int64
      depth:
        type: integer
        format: int64
      weight:
        type: number
      lot_price:
        type: array
        items:
          $ref: '#/definitions/LotPrice'
      coart:
        type: string
      varnish:
        type: string
      purpose:
        type: array
        items:
          type: string
      pattern_no:
        type: string
      per_sheet:
        type: integer
        format: int64
      note:
        type: string
      file:
        type: string
      main_image:
        type: string
      selectable_papers:
        type: array
        items:
          $ref: '#/definitions/SelectedPaper'
  OrderQuery:
    type: object
    properties:
      sort:
        type: string
        description: 並び順の基準とする項目を指定します。
        enum:
          - id
          - created_at
          - status
          - order_number
        default: id
      direction:
        type: string
        description: 項目の並び順を指定します。
        enum:
          - asc
          - desc
        default: desc
      per_page:
        type: integer
        format: int64
        description: 1ページあたりの取得項目数。最大50件
        default: 10
      page:
        type: integer
        format: int64
        description: ページ番号を指定します。
        default: 1
      range_key:
        type: string
        description: 絞り込みを行う日付を指定します。
        enum:
          - created_at
          - updated_at
        default: created_at
      from:
        type: string
      to:
        type: string
      including_test:
        type: boolean
        default: false
  OrderList:
    type: object
    properties:
      count:
        type: integer
        format: int64
      page:
        type: integer
        format: int64
      per_page:
        type: integer
        format: int64
      results:
        type: array
        items:
          $ref: '#/definitions/OrderResult'
  OrderResult:
    type: object
    properties:
      id:
        type: integer
        format: int64
      display_id:
        type: string
      printing_fee:
        type: integer
        format: int64
      sub_total:
        type: integer
        format: int64
      consumption_tax:
        type: integer
        format: int64
      delivery_fee:
        type: integer
        format: int64
      total:
        type: integer
        format: int64
      sheets:
        type: integer
        format: int64
      total_number:
        type: integer
        format: int64
      orders:
        type: array
  OrderDetail:
    type: object
    properties:
      id:
        type: integer
        format: int64
      display_id:
        type: string
      name:
        type: string
      pref:
        $ref: '#/definitions/Prefecture'
      postal_code:
        type: string
      city:
        type: string
      address_line1:
        type: string
      address_line2:
        type: string
      organization:
        type: string
      tel:
        type: string
      order_number:
        type: integer
        format: int64
      template_id:
        type: integer
        format: int64
      custom_fields:
        type: array
        items:
          $ref: '#/definitions/CustomFieldValue'
      status:
        type: string
      created_at:
        type: date-time
  Prefecture:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
  CreateOrderRequest:
    type: object
    properties:
      template_id:
        type: integer
        format: int64
        description: テンプレートIDを指定します。
      confirmation:
        type: boolean
        description: trueを設定すると実際の登録は行われません。
      name:
        type: string
        description: 宛名
      pref:
        type: string
        desciption: 都道府県名または都道府県id
      postal_code:
        type: string
        description: 郵便番号
      city:
        type: string
        description: 市区町村
      address_line1:
        type: string
        description: 番地
      address_line2:
        type: string
        description: 建物名
      organization:
        type: string
        description: 組織名
      tel:
        type: string
        description: 連絡先電話番号
      custom_fields:
        type: array
        description: 可変領域を指定します。
        items:
          $ref: '#/definitions/CustomFieldValue'
  StatusAndMessage:
    type: object
    properties:
      result:
        type: boolean
      message:
        type: string
  ChangeDeliveryAddressRequest:
    type: object
    properties:
      name:
        type: string
        description: 宛名
      pref:
        type: string
        desciption: 都道府県名または都道府県id
      postal_code:
        type: string
        description: 郵便番号
      city:
        type: string
        description: 市区町村
      address_line1:
        type: string
        description: 番地
      address_line2:
        type: string
        description: 建物名
      organization:
        type: string
        description: 組織名
      tel:
        type: string
        description: 連絡先電話番号
  ChangeDeliveryAddressResponse:
    type: object
    properties:
      id:
        type: integer
        format: int64
      display_id:
        type: string
      name:
        type: string
      pref:
        $ref: '#/definitions/Prefecture'
      postal_code:
        type: string
      city:
        type: string
      address_line1:
        type: string
      address_line2:
        type: string
      organization:
        type: string
      tel:
        type: string
      order_number:
        type: integer
        format: int64
      template_id:
        type: integer
        format: int64
      status:
        type: string
      payment_status:
        type: string
      created_at:
        type: date-time
      updated_at:
        type: date-time
  MediaRequest:
    type: object
    properties:
      q:
        type: string
        description: 指定して文字でファイル名を対象に検索します。
      sort:
        type: string
        description: 並び順の基準とする項目を指定します。
        enum: 
          - id
          - name
          - created_at
        default: id
      direction:
        type: string
        description: 項目の並び順を指定します。
        enum:
          - asc
          - desc
        default: desc
      per_page:
        type: integer
        format: int64
        description: 1ページあたりの取得項目数。最大50件
        default: 10
      page:
        type: integer
        format: int64
        description: ページ番号を指定します。
        default: 1
  MediaList:
    type: object
    properties:
      count:
        type: integer
        format: int64
      page:
        type: integer
        format: int64
      per_page:
        type: integer
        format: int64
      results:
        type: array
        items:
          $ref: '#/definitions/MediaDetail'
  MediaDetail:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      file:
        type: string
      thumb:
        type: array
        items:
          $ref: '#/definitions/MediaThumbnail'
      created_at:
        type: date-time
  MediaThumbnail:
    type: object
    properties:
      default:
        type: string
      square:
        type: string
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
